@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}
:root {
    --App-Primary-Color:#2500f9;
    --App-Secondary-Color:#8e44ad;
    --App-Font-Color: #242f51;
    --app-hover-color:#2500f9;
    --app-text-color:#616368;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.section-heading h2{
    font-weight: 600;
    color: var(--App-Font-Color);
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 30px;
    /*! text-align: center; */
}
.section-heading p{
    color: var(--app-text-color);
    font-size: 16px;
    line-height: 26px;
    /*! text-align: center; */
}

/* Header Section */

.header-area {
    background-color: #fdfdfe;
    background-image: url(img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-top {    
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

nav.primary-menu ul li {
    display: inline-block;
}

nav.primary-menu ul li a {
    color:var(--App-Font-Color) ;
    text-decoration: none;
    font-size: 16px;
    line-height: 44px;
    padding-left: 20px;
    padding-right: 20px;
}

.app-primary-button {
    background-color: var(--App-Secondary-Color);
    color: #fff;
    text-decoration: none;
    padding: 17px 41px;
    border-radius: 50px;
}

.app-primary-button:hover {
    background-color: var(--app-hover-color);
}

.nav-menu-area {
    display: flex;
    align-items: center;
}

.app-banner {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
}

.promotional-text {
    display: flex;
    align-items: center;
    background-color: #e2eaed;
    border-radius: 30px;
    width: 350px;
    gap: 10px;
}

.promotional-text i {
    background-color: #feaa25;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    padding: 9px;
    
}

.promotional-text h2 {
    color: var(--App-Font-Color);
    font-size: 18px;
    font-weight: 600;
}

.app-banner-content {
    margin-top: 28px;
    
}
.app-banner-content h2{
    color: var(--App-Font-Color);
    font-size: 60px;
    font-weight: 600;
    line-height: 75px;    
}

.app-banner-content p{
    color: #616368;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 25px;
    margin-bottom: 40px;
    width: 500px;
}

.app-banner-button a {
    text-decoration: none;
}

.app-banner-button a:last-child {
    margin-left: 28px;
    color: var(--App-Primary-Color);
}

/* / Header Section */

/* Main Section */

.like h2 {
  text-align: center;
  color: var(--App-Font-Color);
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  margin-top: 110px;
  margin-bottom: 30px;
}

.like-logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 208px;
}
.Awesome-apps-area{
    margin-top: 150px;
    margin-bottom: 150px;
}

.Awesome-apps{
    display: flex;
    gap: 50px;
}
.awsome-apps-single-area{
    margin-top: 90px;

}
.awsome-apps-single{
    margin-bottom: 65px;
    display: flex;
    gap: 33px;
}
.awsome-apps-single h2{
    font-size: 25px;
    line-height: 20px;
    color: #f55767;
    font-weight: 600;
    margin-bottom: 23px;
}
.awsome-apps-single p{
    color: var(--app-text-color);
    font-size: 16px;
    line-height: 24px;
}
.awsome-apps-single:nth-child(2) h2{
    color: var(--App-Primary-Color);
}
.awsome-apps-single:nth-child(3) h2{
    color: #40975f;
}

.smart-area{
    display: flex;
    gap: 70px;
    text-align: center;
}
.smart-left h2{
      font-size: 33px;
      line-height: 40px;
      font-weight: 600;
      margin-bottom: 23px;
      color: #242f51;
      text-align: left;
      border-right: 3px solid #b9b9b8;
}
.smart-right p {
     color: var(--app-text-color);
    font-size: 25px;
    line-height: 33px;
     text-align: left;
}
.smart-right:after{
    content:"";
    font-weight: 50px;
    line-height: 20px;
    background-color: red;
}

.Automatic-Payouts {
  display: flex;
  margin-top: 100px;
  gap: 120px;
}
.Network:nth-child(2) h2{
     color: var(--App-Primary-Color);
}
.Network h2{
    color: font-size: 25px;
    line-height: 20px;
    color: #f55767;
    font-weight: 600;
    margin-bottom: 23px;;
}
.Network:nth-child(3) h2{
    color: #57a472;
}
.smart{
     color: var(--app-text-color);
     font-size: 16px;
     line-height: 24px;
     text-align: left;
}
.integration-area{
    display: flex;
    gap: 110px;
    margin-top: 110px;
    align-items: center;
}

.lorem {
  margin-top: 40px;
}
.integration-area{
}
.app{
    text-align: center;
}

.app {
  margin-top: 200px;
  line-height: 30px;
}
.app h2 {
  font-weight: 600;
  color: var(--App-Font-Color);
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 30px;
}
.app p {
  color: var(--app-text-color);
  font-size: 16px;
  line-height: 26px;
}
.app-devlopment-top {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  text-align: center;
}
.app-devlopment-down {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  text-align: center;
  margin-bottom: 180px;
}

.devlopment h2 {
  font-weight: 600;
  color: var(--App-Font-Color);
  font-size: 30px;
  line-height: 46px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.devlopment-down-content h2 {
  font-weight: 600;
  color: var(--App-Font-Color);
  font-size: 30px;
  line-height: 46px;
  margin-bottom: 15px;
  margin-top: 20px;
}
.devlopment-down-content p {
  color: var(--app-text-color);
  font-size: 16px;
  line-height: 26px;
}
.devlopment p {
  color: var(--app-text-color);
  font-size: 16px;
  line-height: 26px;
}

.Ux-planing-area {
  display: flex;
  justify-content: space-around;
  margin-top: 65px;
}
.Ux-planing-left-one {
  display: flex;
  /*! justify-content: space-between; */
  gap: 100px;
}
.Ux-planing-left-two {
  display: flex;
  gap: 100px;
  margin-top: 30px;
}

.Ux-planing-left {
  margin-left: 150px;
}
.Ux-planing-right {
  margin-top: -190px;
}

.left h2 {
  font-weight: 600;
  color: var(--App-Font-Color);
  font-size: 22px;
  line-height: 46px;
  margin-bottom: 15px;
  margin-top: 20px;
}
.left p {
  color: var(--app-text-color);
  font-size: 16px;
  line-height: 26px;
}

.mobile-button a {
  background-color: var(--App-Secondary-Color);
  color: #fff;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 50px;
 }
.extra-area-option {
  text-align: center;
  margin-top: 150px;
}
.extra-area-option h2 {
  font-weight: 600;
  color: var(--App-Font-Color);
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 30px;
}
.extra-area-option p {
  color: var(--app-text-color);
  font-size: 16px;
  line-height: 26px;
}
.pricing-table-top{
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

.pricing-table-button {
  text-align: center;
  border: 1px solid #ebebeb;
  display: flex;
  justify-content: center;
  width: 234px;
  margin: 0 auto;
  border-radius: 50px;
  padding: 2px;
}
.pricing-table-buttom {
  margin-top: 80px;
}

.pricing-table-content {
  display: flex;
  justify-content: center;
  gap: 43px;
  margin-top: 20px;
  text-align: center;
}

.pricing-table-button button{
  padding: 16px 34px;
  border-radius: 50px;
  border: 0;
  background: transparent;
  font-weight: 500;
  color: #898a8e;
}
.pricing-table-button button:hover, .pricing-table-button .active{
    background-color: var(--App-Primary-Color);
    color: white;
    cursor: pointer;
}
.single-pricing-table-header{
    background-color: #f4f7f9;
    padding: 70px;
    margin-top: 50px auto;
}
.pricing-table-list ul li{
    list-style: none;
    margin-bottom: 25px;

}
.pricing-table-list ul{
    padding-top: 40px;
    padding-bottom: 40px;

}
.buy-pricing-package{
    margin-bottom: 30px;

}
.pricing-table-list{
    /*! background-color: red; */
}

.single-pricing-table {
  margin: 50px 0;
  border-radius: 9px;
  box-shadow: 3.837px 54.866px 62px 0px rgba(144, 163, 177, 0.18);
  border: 2px solid transparent;
}
.single-pricing-table:hover{
  border: 2px solid #ebebeb;  
}
.pricing-table-price{
    color: var(--App-Font-Color);
    font-size: 60px;
    font-weight: 600;
    line-height: 58px;
}
.pricing-table-price span{
    font-size: 18px;
    color: #abaeb5;
    font-weight: 400;

}
.pricing-table-footer p{
    color: var(--App-Primary-Color);
    font-size: 16px;
    margin-bottom: 25px;

}
/* Meet Client Section */

.meet-client-area{  
    margin-top: 100px;  
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.star {
    color: #ffcc00;
    font-size: 20px;
    line-height: 58px;
    margin: 20px 0;
}

.meet-client-content-two p {
    width: 600px;
    text-align: justify;
    margin-bottom: 60px;
}

.client-area {
    display: flex;
    justify-content: space-between;
}

.client {
    display: flex;
    gap: 20px;
    align-items: center;
}

.name h2 {
    margin-bottom: 5px;
}

.icon {
    font-size: 30px;
    color: #e0e3e7;    
    margin-top: 20px;
}

.icon :hover {
    color: #2500f9;
}

.client-pic img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
.border-area{
    border: 1px solid #bdc3c7;
    margin-top: 10px;
}
.mobile-button{
    display: inline-block;
    padding: 14px 0px;
}
.mobile-button a{
    background-color: var(--App-Secondary-Color);
    color: #fff;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 50px;
    display: inline-block;
    margin-top: 40px;
}
.mobile-button a:hover{
        background-color: var(--App-Primary-Color);
        color: #fff;
        text-decoration: none;
        padding: 15px 40px;
        border-radius: 50px;
        display: inline-block;
        margin-top: 40px;
}
.single-faq{
    background-color: #f5f7fa;
    padding: 20px 50px;
    margin-bottom: 10px;
}
.single-faq-header h2{
    color: var(--App-Font-Color);
    font-size: 20px;
    font-weight: 600;

    margin-left: 20px;
}
.single-faq-content p{
    color: var(--app-text-color);
    font-size: 16px;
    line-height: 26px;
    margin-top: 40px;
    margin-bottom: 30px;

}
.single-faq-content{
    display: none;
}
.single-faq:first-child .single-faq-content{
    display: block;
}
.single-faq:first-child .single-faq-header i{
    display: none;
} 

.single-faq-header {
  display: flex;
  justify-content: space-between;
}

.border {
  border: 1px solid #bdc3c7;
  margin-top: 100px;
  margin-bottom: 20px;
}

.border {
  border: 1px solid #bdc3c7;
  margin-top: 100px;
  margin-bottom: 20px;
}
.faq-top h2 {
  font-weight: 600;
  color: var(--App-Font-Color);
  font-size: 30px;
  line-height: 46px;
  margin-bottom: 30px;
}
.faq-top p {
  color: var(--app-text-color);
  font-size: 16px;
  line-height: 26px;
}
.faq-top {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 60px;
}
/*accordian-iem*/
.amaderclass-here{
    margin-top: 50px;

    margin-bottom: 100px;
}
.amaderclass-here .accordion-item{
    border: 0;
    background-color: #f5f7fa;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}
.amaderclass-here .accordion-button {
    background-color: transparent;
    box-shadow: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--App-Font-Color);
}

.bootstrap {
  text-align: center;
  margin-top: 40px;
}
.bootstrap h2 {
  font-weight: 600;
  color: var(--App-Font-Color);
  font-size: 30px;
  line-height: 46px;
  margin-bottom: 30px;
  background-color: gray;
  display: inline-block;
  border-radius: 10px;
  padding: 0 10px;
}
/*accordian-iem*/
.footer-top-area {
  display: flex;
  justify-content: space-between;
  /*! gap: 20px; */
}
.footer-top-area-left {
  margin-left: 69px;
}
.footer-top-image {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.footer-top-content {
  margin-top: 90px;
}

.footer-top-content h2 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  color: var(--App-Font-Color);
}

.footer-top-content h2 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  color: var(--App-Font-Color);
}
.footer-top-content p {
  color: var(--app-text-color);
  font-size: 16px;
  line-height: 26px;
}
/* /Main Section */

/*footer-area*/
.footer-area{
    width: 100%;
    height: 530px;
    background-color: #09142e;
}
.footer{
    text-align: center;
}
.footer-menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

.footer-menu ul li a {
  text-decoration: none;
  color: white;
}

.footer-menu ul li a {
  text-decoration: none;
  font-size: 20px;
  line-height: 45px;
  padding-left: 20px;
  padding-right: 20px;
}
.logo-lab {
}
.logo-lab img {
  margin-top: 120px;
}
.footer-menu {
  margin-top: 40px;
}
.footer-social-icon {
  margin-top: 50px;
}
.footer-social-icon p {
  margin-top: 80px;
  color: #3d465a;
}

.social-icon i{
  font-size: 40px;
  color: #273043;
  margin-right: 20px;
}

.social-icon i:hover{
    color: #ffffff;
}
/*/footer-area*/